@model Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Szczegółowe dane książki: @Model.Title </h1>
<table class="table table-bordered">
    <tr>
        <td><strong>Tytuł:</strong></td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td><strong>Liczba stron:</strong></td>
        <td>@Model.Page_No</td>
    </tr>
    <tr>
        <td><strong>Autor:</strong></td>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <td><strong>Data publikacji:</strong></td>
        <td>@Model.PublicationDate</td>
    </tr>
    <tr
        <td><strong>Wydawnictwo:</strong></td>
        <td>@Model.PublishingHouse</td>
    </tr>
</table>






