@model List<Book>

<style>
    h1 {
        color: #007bff; /* Kolor nagłówka */
    }

    .btn-primary {
        background-color: #007bff; /* Kolor tła przycisku "Dodaj książkę" */
        color: #ffffff; /* Kolor tekstu na przycisku "Dodaj książkę" */
    }

    .table {
        background-color: #ffffff; /* Kolor tła tabeli */
    }

    th {
        background-color: #007bff; /* Kolor tła nagłówków tabeli */
        color: black; /* Kolor tekstu w nagłówkach tabeli */
    }

    td {
        background-color: #ffffff; /* Kolor tła komórek tabeli */
    }

    .btn-outline-secondary,
    .btn-outline-info,
    .btn-outline-danger {
        color: #007bff; /* Kolor tekstu na przyciskach z obramowaniem */
        border-color: #007bff; /* Kolor obramowania przycisków z obramowaniem */
    }
</style>

<h1>Lista książek</h1>
<a class="btn btn-primary" asp-controller="Book" asp-action="Create">Dodaj książkę</a>

@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PublishingHouse)
            </th>
            <th>
                Akcje
            </th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.PublishingHouse</td>
                <td>
                    <a class="btn btn-outline-secondary" asp-controller="Book" asp-action="Update" asp-route-id="@book.id"> Edycja</a>
                    <a class="btn btn-outline-info" asp-controller="Book" asp-action="Details" asp-route-id="@book.id"> Szczegóły</a>
                    <a class="btn btn-outline-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@book.id"> Usuń</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Brak książek do wyświetlenia.</p>
}
